@media (prefers-color-scheme: dark) {
	html {
		background: black;
		color: white;
	}

	form {
		background: #AAA;
	}
}

img {
	padding: 0.2em;
}

form {
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin: 2em;
	padding: 2em;

	background: #333;
	border-radius: 1em;
}

label {
	display: block;
}
